@{
    ViewBag.Title = "NotFound";
}
<br /><br />
<div style="background-color: #A52A2A; color: White; height: 10px;">
</div>
<div style="background-color: #F5F5DC; color: White; height: 170px;">
    <div style=" padding:20px;">
        <h3>
            Erreur 
        </h3>
        <h4>
            Désolé, la page recherchée n'a pas trouvé.
        </h4>
        <h6>@Html.ActionLink("Retour à l'acceuil ", "Login", "Account")</h6>
        <br />
        <br />
    </div>
</div>
<div style="background-color: #A52A2A; color: White; height: 20px;">
</div>  